@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Hakkımda Veri Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>Başlık</td>
            <td><a href="#" class="btn btn-primary">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-danger">Pasif Yap</a></td>
        </tr>
    }
</table>
@* NOT BU SAYFADA HEM LİSTELEME HEMDE POPUP LARDA EKLEME YAPILIYOR SOLİD PRENSİPLERİNE UYGUN OLMADI. BUNUN ÖNÜNE PARTİAL VİEW İLE
    ÖNÜNE GEÇEBİLİRİZ.*@


@Html.Action("AboutPartial", "About")